body {
    line-height: 1.8;
  }
  
.bio {
    color:whitesmoke; 
    font-size: 2vw;
  }

.container {
    display: flex;
    justify-content: center;
}

.heading h1 {
    line-height: 3;
    font-size: 3vw;
    text-align: center;
    /* Change color to primary */
    color: whitesmoke; 
  }

.pic {
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    object-fit: contain;
  }
