body {
    line-height: 1.8;
  }
  
.bio {
    color:whitesmoke; 
    font-size: 2.5em;
  }

.container {
    display: flex;
    justify-content: center;
}

.heading h1 {
    line-height: 3;
    font-size: 5em;
    /* Change color to primary */
    color: whitesmoke; 
  }

.pic {
    height: 700px;
    width: 700px;
    border-radius: 50%;
}