body {
    line-height: 1.8;
  }
  
.bio {
    color:#284B63;
    font-size: 2em;
  }

.container {
  background-color: #ececec;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.heading h1 {
    font-size: 3.25em;
    text-align: center;
    color: #284B63; 
  }

.heading h2 {
  font-size: 3em;
  text-align: center;
  color: white; 
  margin-top: 30px;
}

.heading h3 {
  font-size: 2.75em;
  text-align: center;
  color: white; 
}

@media only screen and (max-width: 1007px){
  .bio {
    font-size: 1.5em;
  }
  .heading h1 {
    font-size: 2.75em;
  }
}

@media only screen and (max-width: 640px){
  .bio {
    font-size: 1.15em;  
  }
  .heading h1 {
    font-size: 1.5em;
  }
}
