h1 {
  color: black;
}

.cards{
  flex-basis: auto; 
  max-width: 22em;
  min-height: 27em; 
  margin: 3em;
  font-size: 2em; 
  text-align: center;
}

.card-container{
  background-color: #ececec;
    display: grid;
    grid-template-columns: 45% 45%;
    margin-top: 20px;
    grid-gap: 20px;
    justify-content: center;
    grid-template-areas:
    "card-left card-right"
    "card-bleft card-bright";
}

.card-left{
  grid-area: card-left;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.card-right{
  grid-area: card-right;
  text-align: center;
  min-height: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.card-bleft{
  grid-area: card-bleft;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.card-bright{
  grid-area: card-bright;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 5px;
}

.site-card-wrapper {
  padding: 30px;
  background: #ececec;
  margin: 3em;
}


@media only screen and (max-width: 1007px) {
  .card-container{
    grid-template-columns: 100%;
    grid-template-areas:
    "card-left"
    "card-right"
    "card-bleft"
    "card-bright";
  }
}

@media only screen and (max-width: 640px) {
  .cards{
    margin: 1em;
  }
}

@media only screen and (max-width: 420px) {
    .card-desc{
    display: none;
  }
}